@import "tailwindcss";

:root {
	--color-background: #f5f1e3;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to ensure consistent appearance.
  In the future, add explicit border color utilities where needed.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@layer base {
	body {
		background-color: var(--color-background);
	}
}
